<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
      <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   ================================================== -->
   <meta charset="utf-8">
	<title>DHUMAK11</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/portfolio/111.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Education</a></li>
            <li><a class="smoothscroll" href="#portfolio">Hobbies</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Pravin Dhumak.</h1>
            <h3>I'm a New Mumbai based <span>Ruby on Rails Developer </span>, <span>illustrator</span> and <span>webdesigner</span> creating awesome and
            effective visual identities for companies of all sizes around the globe. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://goo.gl/vdfSGR" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/PdhumakP?p=s" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://github.com/Pdhumak11" target="_blank"><i class="fa fa-github"></i></a></li>
               <li><a href="https://goo.gl/JejNSG" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://goo.gl/sQ6ZUi" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/pravind91/" target="_blank"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://dribbble.com/Pdhumak11" target="_blank"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="https://www.skype.com/en/" target="_blank"><i class="fa fa-skype"></i></a></li>
               
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="images/portfolio/bn.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>My name is Pravin Prakash Dhumak, and I have done Master's degree in Computer Application (Mumbai University) in 2016. 
               People find me to be an upbeat, self motivated, team Player with good comunication skill. <br/>For the past several months I have learn Ruby on Rails from My Senior Friend as well as various youtube learning channel and try to build up small website (i.e. KCityService).

               I really love working with ROR and spent a lot of time into the Github or computer to learn the new things. I'm looking for a job to take my career to next level for a company where I can be part of team.  


            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Pravin Dhumak</span><br>                                             
						   <span>
						         B wing, Kapaleshwar Appt<br>Karjat, Maharashtra 410202
                     </span><br>
						   <span>(+91) 9021-727-849</span><br>
                     <span>Pdhumak.11@gmail.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="images/portfolio/pRavink.doc" class="button" download="Pravin_resume"><i class="fa fa-download"></i>Download Resume</a>
                  </p>

               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Mumbai</h3>
                  <p class="info">Master in Computer Application <span>&bull;</span> <em class="date">April 2016</em></p>

                  <p>
                  Master of Computer Application (MCA) is a Postgraduate Information Technology cource. The DUration of the cource is three years, which can be devided into a six semesters. First two years aim to skill development and last year for an specialisation and project work.<br />
                     I can learn the MCA in Y.T.I.E.T. college Karjat. We also complete Project Cum Internship on "PROJECT TRACKING MANAGEMENT SYSTEM's" project in six month duration in Thane also attempting various workshop regarding to web development
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <p class="info">B.Sc. Degree in Information Technology <span>&bull;</span> <em class="date">March 2012</em></p>

                  <p>
                  Bachelor of Science in Information Technology is a three years long undergraduate program. The main adventage of this course is syllabus can be update according to IT industrial requirement. I am complete B.Sc(IT) from Konkan Gyanpeeth karjat college (Mumbai University) in 2012 with First class. Here also a Semester pattern, during the courde complete activity of making project on "PETROL PUMP MANAGMENT SYSTEM" in Vb.net.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3> Build Website </h3>
                  <p class="info">KCityService (Self Develop) <span>&bull;</span> <em class="date">In ROR</em></p>

                  <p>
                  In the professional world, a website is unique way to connect with the world. Many metropolitan cities have own application like mindiacator Delihi-c or website which can show all seviceses and information about city. So after completing MCA we can lean ROR and decide to build a website which can help to citizens. During the developing website clear all the concept of Rails and Ruby.Threre are various Gems like Dvise, cancancan, Paperclip, Simple_form which can use in my project and Knowlege of it. 
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Internship</h3>
                  <p class="info">Team Member <span>&bull;</span> <em class="date">Jan 2015 - April 2015</em></p>

                  <p>
                   As you know during the complition of the MCA cource we can join as a intern in Thane. My role is Documentation and gathering needed information. my role is small in project but i can know how to working as a team, deal with the problem. My project is Software tracking so we can understand full process of project development like role of Admin to front & back end Developer.  
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>I do not consider myself an expert in any programming language, so I classify all my skills as either beginner or advanced. However, I would like to differentiate more. I am especially looking for something between advanced and expert. Any suggestions? Or should I not even bother to differentiate any more detailed?. Threre are various Gems like Dvise, cancancan, Paperclip, Simple_form which can use in my project and Knowlege of it.
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Rails Framework</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Ruby</em></li>
						<li><span class="bar-expand css"></span><em>CSS</em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                  <li><span class="bar-expand wordpress"></span><em>Unix</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Hobbies.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">


               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="images/portfolio/retrocam.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Photography</h5>
                              <p>Web Development</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div>  <!-- item end -->

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="images/portfolio/net.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Net Surfing</h5>
                              <p>Data Analyst</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="images/portfolio/trek.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Trekking</h5>
                              <p>Fort Mountain </p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

                <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="images/portfolio/ride.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5>Riding</h5>
                              <p>Bike & Car</p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
               </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="images/portfolio/tree.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Social Activity</h5>
                              <p>Tree Plantation </p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

              

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="images/portfolio/sport.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Sports</h5>
                              <p>Volleyball</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="images/portfolio/biopic.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Films</h5>
                              <p>Wars & Biopic </p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="images/portfolio/fort.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Trip</h5>
                              <p>Historical Place Visit</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->


            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-surfing.jpg" alt="" />

		      <div class="description-box">
			      <h4>Net surfing</h4>
			      <p>We can get lots of information and ideas from the Internet. And we can work in IT sectore that field is deaily updated so this hobbies help me to keep updated. this is very easiest and cheapest way to done all of this.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
                <a href="https://goo.gl/qbnC6s" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-trek.jpg" alt="" />

		      <div class="description-box">
			      <h4>Trekking</h4>
			      <p>Scientific research shows, outdoor activities like hiking and trekking have a result oriented therapeutic effect. It can help people over depression apart from the physical benefits of such activities. Trekking can also contribute to enhancing creative imagination as well as helping to lead a more active social life to those who have been socially aloof. which results into living a happy life.</p>
               <span class="categories"><i class="fa fa-tag"></i>Refreshment Life</span>
		      </div>

            <div class="link-box">
               <a href="https://goo.gl/mnaxXK" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-social.jpg" alt="" />

		      <div class="description-box">
			      <h4> Tree Plantation </h4>
			      <p>The social is a factor which can separate Human from animal.social work is the one helping profession whose revered code of ethics is clear about its moral mission to empower clients and address both private troubles and public issues, particularly for those who are the least advantaged. after some social work we cann't benifit but get piece of soul.</p>
               <span class="categories"><i class="fa fa-tag"> </i>We are Humans</span>
		      </div>

            <div class="link-box">
               <a href="https://goo.gl/kB8DEJ" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-ride.jpg" alt="" />

		      <div class="description-box">
			      <h4>Riding</h4>
			      <p>Motorcycle riding is a combination of exhilaration, fear, relaxation, and pleasure that changes you forever. It’s physical & emotional pleasure, with a layer of anxiety & adrenaline.When you motorcycle, you notice smells in a way that you don’t when you travel by car, or even by bicycle. Part of it is because your senses are already heightened to begin with.</p>
               <span class="categories"><i class="fa fa-tag"></i>For Fun</span>
		      </div>

            <div class="link-box">
               <a href="https://goo.gl/zeMpKK" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-sport.jpg" alt="" />

		      <div class="description-box">
			      <h4>Sport</h4>
			      <p>Playing sports enables you to create friendships and bring people together from different schools, backgrounds, and communities.Participating in sports helps build leadership skills. Sports teams give you an opportunity to surround yourself with competitive people and role models, and learn from them both.</p>
               <span class="categories"><i class="fa fa-tag"></i>Team Build-up</span>
		      </div>

            <div class="link-box">
               <a href="https://goo.gl/aP7Y17" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-ideal.jpg" alt="" />

		      <div class="description-box">
			      <h4>Movies</h4>
			      <p>Inspiration comes from a variety of sources, but movies can be particularly powerful for kids and teens. Movies are a great source of inspiration. The film celebrates the survival of the human spirit r underprivileged children's education. Its a film based on former indian president A.P.J. Abdul Kalam and is aimed at inspiring the poor to educate their children.</p>
		      </div>

            <div class="link-box">
               <a href="https://goo.gl/tQogdN" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-fort.jpg" alt="" />

		      <div class="description-box">
			      <h4> History to idea  </h4>
			      <p>IN nature uses hunger to tell us when we need to beat and thirst to signal when we need to drink. Since when you goes to Fort then motivated to fight any critical situation by understanding how will survive The great king CHHATARAPATI SHIVAJI MAHARAJ.</p>
               <span class="categories"><i class="fa fa-tag"></i>Inspiration</span>
		      </div>

            <div class="link-box">
               <a href="https://goo.gl/zhn8yV" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />

		      <div class="description-box">
			      <h4>Photography</h4>
			      <p>Hi Photography is a unique and creative medium of self-expression. Opportunities in the filed of photography has increased with a recent boom in media ,advertising and fashion and IT industry. photographic Knowledge incress the website efficiency.To be a photographer, you have to have both creativity and technical knowledge.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
		      </div>

            <div class="link-box">
               <a href="https://goo.gl/w7vFD2" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">

           

         </div>

         <div class="seven columns">

            <h2><span class="lead">Testimonial Of my Ideal </span></h2>
            <p><span class="lead">The great man with modesty, simple thinking and great living sets a standing example of innovation in the thought process for decades. Abdul Kalam also served as the 11th President of the Country for five years and Steve Jobs co-founded Apple Computer. </span></p>

         </div>

         <div class="three columns action">



         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>If a country is to be corruption free and become a nation of beautiful minds, I strongly feel there are three key societal members who can make a difference. They are the father, the mother and the teacher -Abdul Kalam
                           </p>
                           <cite>Mr. Abdul Kalam</cite>
                        </blockquote>
                     </li> <!-- slide ends -->
                     
                     <li>
                        <blockquote>
                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                           to do what you believe is great work. And the only way to do great work is to love what you do.
                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">We operate in an industry built on trust this can be achieved through communication ans exprience support. Have question about me and my work than can you contact directaly using following form or any social media platform. Any feedback or suggesion of my this website or KCityService please contact me.
                  </p>

            </div>

         </div>

         <div class="row">
               
               <%= yield %><!--
            <div class="eight columns">

               <!-- form 
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End 

               <!-- contact-warning 
               <div id="message-warning"> Error boy</div>
               <!-- contact-success 
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Pravin Dhumak<br>
						   B Wing Kapaleshwar Appt<br>
						   Karjat, MAHARASHTRA 410202<br>
						   <span>(+91) 9021-727-849</span>
					   </p>

				   </div>

               <div class="widget widget_tweets">

                  <h4 class="widget-title"></h4>

                  <ul id="twitter">
                     <li>
                        <span>
                                              <a href="#"> </a>
                        </span>
                        <b><a href="#"> </a></b>
                     </li>
                     <li>
                        <span>
                
                        <a href="#"> </a>
                        </span>
                        <b><a href="#"> </a></b>
                     </li>
                  </ul>

		         </div>

            </aside> -->

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
              <li><a href="https://goo.gl/vdfSGR" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/PdhumakP?p=s" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://github.com/Pdhumak11" target="_blank"><i class="fa fa-github"></i></a></li>
               <li><a href="https://goo.gl/JejNSG" target="_blank"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://goo.gl/sQ6ZUi" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/pravind91/" target="_blank"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://dribbble.com/Pdhumak11" target="_blank"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="https://www.skype.com/en/" target="_blank"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2017 </li>
               <li>Design by <a href="" title="Styleshout" target="_blank">Pdhumak</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>





